<div id="content" class="inf-scroll-content"></div>

<script>
  let currentPage = 1;
  webNexus.setupInfiniteScrollV2('content',
      '<div class="text-container">\n' +
      '    <p class="p">{{joke}}</p>\n' +
      '</div>',
      '<style>\n' +
      '    :root {\n' +
      '        font-family: \'Arial\', sans-serif;\n' +
      '        text-align: center;\n' +
      '        margin: 50px;\n' +
      '    }\n' +
      '\n' +
      '    .text-container {\n' +
      '        display: flex;\n' +
      '        justify-content: center;\n' +
      '        align-items: center;\n' +
      '        width: 600px;\n' +
      '        height: 200px;\n' +
      '        background-color: #fff;\n' +
      '        padding: 20px;\n' +
      '        border-radius: 8px;\n' +
      '        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n' +
      '        margin-bottom: 15px;\n' +
      '\n' +
      '        .p {\n' +
      '            color: #333;\n' +
      '            font-size: 18px;\n' +
      '            line-height: 1.6;\n' +
      '            font-weight: bold;\n' +
      '        }\n' +
      '    }\n' +
      '</style>'
  ).then(response => {

    response
        .before(() => {
          const url = `https://icanhazdadjoke.com/search?limit=5&page=${currentPage}`;
          console.log("before");
          return fetch(url, {
            method: 'GET',
            headers: {
              'Accept': 'application/json'
            }
          })
              .then(response => response.json())
              .then(data => {
                return data.results;
              });
        })
        .after((replacementMap) => {
          console.log("after");
          currentPage++;
        }).onError((error) => {
      alert(error);
    })
        .start();
  });
</script>
