<style>
    :root {
        font-family: \'Arial\', sans-serif;
        text-align: center;
        margin: 50px;
    }

    .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 200px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;

        .p {
            color: #333;
            font-size: 18px;
            line-height: 1.6;
            font-weight: bold;
        }
    }
</style>

<div id="content" class="inf-scroll-content"></div>

<script>
  let currentPage = 1;
  webNexus.setupInfiniteScroll('content',
      `<div class="text-container">
            <p class="p">{{joke}}</p>
        </div>`
  ).then(response => {

    response
        .before((requestConfig) => {
          requestConfig.url = `https://icanhazdadjoke.com/search?limit=5&page=${currentPage}`;
          requestConfig.method = 'GET';
          requestConfig.replacementMap = {
            results: {
              joke: true,
            },
          };
        })
        .after(requestConfig => {
          requestConfig.url = undefined;
          requestConfig.method = undefined;
          requestConfig.replacementMap = undefined;
          currentPage++;
        })
        .start();
  });
</script>

