<div id="content" class="inf-scroll-content"></div>

<script>
  let currentPage = 1;
  webNexus.setupInfiniteScrollV2('content',
      `<div class="text-container">
            <p class="p">{{joke}}</p>
        </div>`,
      `<style>
            .text-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 600px;
                height: 200px;
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 15px;

                .p {
                    color: #333;
                    font-size: 18px;
                    line-height: 1.6;
                    font-weight: bold;
                }
            }
       </style>`
  ).then(response => {

    response
        .before(() => {
          const url = `https://icanhazdadjoke.com/search?limit=5&page=${currentPage}`;
          console.log("before");
          return fetch(url, {
            method: 'GET',
            headers: {
              'Accept': 'application/json'
            }
          })
              .then(response => response.json())
              .then(data => {
                return data.results;
              });
        })
        .after((replacementMap) => {
          console.log("after");
          currentPage++;
        }).onError((error) => {
      alert(error);
    })
        .start();
  });
</script>
