<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Filip's and Alex' Site</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="http://localhost:8080/api/web-nexus"></script>
</head>
<body>
<div id="auth-container"></div>
<header class="header">
    <h1>Welcome to Filip's and Alex' Site</h1>
</header>
<%- include('navbar') %>


<div class="container">
    <h2 class="section-title">About Us</h2>
    <p class="section-content">
        Welcome to Filip's and Alex' Site!
    </p>
    <p class="section-content">
        This is a demo site that presents Live Chat V1/V2, Infinite Scroll V1/V2
    </p>
</div>

<% if (file) { %>
    <%- include(file) %>
<% } %>

<footer class="footer">
    <p>&copy; 2023 Filip's and Alex' Site. All rights reserved.</p>
    <address class="section-content address">
        Contact us via:<br>
        Email: <a href="mailto:fkfilchev@gmail.com">fkfilchev@gmail.com</a><br>
        Email: <a href="mailto:fkfilchev@gmail.com">fkfilchev@gmail.com</a><br>
    </address>
</footer>
</body>
</html>
